.logo{
    width: 50px;
    height: 25px;
}
.h2{
    color: #3C354F;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hfoot{
    color: #f5f5f5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h5{
    color: #3C354F;
    padding: 2px;
}
.pc{
    color: #FFFFFF;
}
.hc{
    color: whitesmoke;
}
h5{
    color:white;
}
.hi{
    color: #F948B2;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.fv{
    color: #F948B2;
    text-shadow: 2px 2px 6px #8758F1;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: #3C354F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    color: #534C64;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.g{
    color: #F948B2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-left: 10px;
}
.h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.h3{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h1{
    color: #F948B2;
    text-shadow: 2px 2px 6px #8758F1;
    font-size: 4rem;
}
.nav{
    margin: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
}
.icon{
    justify-content: space-between;
    padding: 5px;
    size: 30px;
    height: 20px;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.ban-con{
    padding-top: 50px;
    padding-left: 200px;
}
.ban-img{
    width: 40%;
    height: 50%;
    padding-left: 100px;
    padding-right: 50px;
}
.bp{
    border: 0;
    padding: 10px 25px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: rgb(228, 64, 154);
}
.bb{
    border: 0;
    margin-left: 10px;
    padding: 10px 25px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: rgb(64, 159, 190);
}
.know{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.know-con{
    text-align: end;
    margin: 5px;
    padding-right: 50px;
    padding-top: 40px;
}
.img{
    width: 80%;
    padding: 5px;
}
.fun{
    text-align: center;
    margin:10px;
    padding-top: 20px;
}
.play{
    justify-content: center;
}
.fun-img{
    display: flex;
    justify-content: space-between;
}
.fun-image{
    padding: 2px;
    margin-top: 15px;
}
.pi{
    display: flex;
    padding-top: 50px;
}
.pi-con2{
    padding-left: 15%;
    padding-top: 10%;
    text-align: end;
}
.pi-images{
    padding-left: 25%;
}
.pi-img2{
    position: relative;
    bottom: 300px;
    right: 150px;
}
.final-career{
    display: flex;
    background-color: #FF42A5;
}
.career{
    text-align: start;
    padding: 50px;
}
.Career-2{
    display: flex;
    text-align: start;
    padding: 5px;
}
.career-3{
    padding-left: 30%;

}
.career-img{
    max-width: 800px;
    height: 800px;
}
.cbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    color: #F948B2;
}
.type-game{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.type{
    width: 200px;
    display: flex;
    margin: 15px;
}
.footer{
    background-color: #0B0223;
    text-align: center;
    padding: 50px;
}
.footer-con{
    text-align: center;
    
}
.item{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    gap: 50px;
}
.end{
    display: flex;
    padding-left: 50px;
    justify-content: center;
    gap: 5%;
}
.social{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.social-media{
    fill:#f5f5f5;
    size: 100px;
}
.type:hover{
    border: 0.5px solid #F948B2;
    padding: 0.5%;
    border-radius: 50px;
    color: #FF42A5;
}
.h5:hover{
    color: #FF42A5;
}
.fun-image2 :hover{
    border: 5px solid #F948B2;
    border-radius: 22px;
}
@media screen and (max-width:576px) {
    nav ,
    .btn,
    .ul,
    .ban,
    .btn-icon,
    .h,
    .fun,
    .fun-img,
    .know,
    .know-con,
    .pi,
    .pi-img,
    .final-career,
    .career-img{
        flex-direction: column;
        text-align: center;
    }
    .ul{
        gap: 15px;
    }
    .btn-icon{
        display: flex;
        padding-left: 125px;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .ban-img{
        width: 80%;
        padding: 0;
    }
    .ban-con{
        padding: 0;
    }
    .know-con{
        padding: 0;
    }
    .img{
        width: 100%;
        padding-top: 100px;
    }
    .pi-con{
        text-align: center;
        padding: 0;
    }
    .pi-img{
        max-width: 100%;
    }
    .pi-img2{
        max-width: 50%;
        position: relative;
        bottom: 130px;
        right: 150px;
    }
    .career-img{
        width: 100%;
        height: 100%;
    }
    .type{
        width: fit-content;
    }
    .type-game{
        display: grid;
        grid-template-columns: repeat(3, 0.4fr);
    }
    .item{
        display: grid;
        grid-template-columns: repeat(3, 0.4fr);
        gap: 0;
    }
    .social{
        gap: 50px;
    }
    .end{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .end2{
        justify-content: center;
    }
}